body{
    background: no-repeat;
       background-color: black;
       margin: 0;
       padding: 0;
       background-image: url(../images/doroga_asfalt_chb_156467_1920x1080.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: auto;
}





.hero-div{
    width: 300px;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    color: azure;
}




.button-links{
    margin-top: 0;
 
}

button{
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover{
    background-color: #0d586b;
    cursor: pointer;
    transition: background-color 255ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
}

.it-button{
    
    background-image: url(../images/logo_itunes_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;
}

.apple-button{

    background-image: url(../images/logo_applemusic_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;
}

.spotify-button{

    background-image: url(../images/logo_spotify_onlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 290px;
    height: 50px;  
}

.yt-button{
    background-image: url(../images/subscribe-youtube-logo-svg-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 290px;
    height: 50px;  
  }

